@for $i from 0 through 4 {
  .margin-#{$i} {
    margin: ($i * line-height(0));
  }
  .margin-right-#{$i} {
    margin-right: ($i * line-height(0));
  }
  .margin-left-#{$i} {
    margin-left: ($i * line-height(0));
  }
  .margin-top-#{$i} {
    margin-top: ($i * line-height(0));
  }
  .margin-bottom-#{$i} {
    margin-bottom: ($i * line-height(0));
  }
  .margin-x-#{$i} {
    margin: 0 ($i * line-height(0));
  }
}
