@if($horizontal-grid == true) {
  .grid {
    background-image: linear-gradient(to bottom, hsla(200, 100%, 50%, 0.3) 1px, transparent 1px);
    //background-position: left -1px;
    background-repeat: repeat;
    //@media screen and (max-width: $xl) and (min-width: $sm) {
      background-size: line-height(0) line-height(0);
    //}
  }
}
