@if($sgl-debug-mode == true) {
  body {
    background-image: linear-gradient(to bottom, hsla(200, 100%, 50%, 0.3) 1px, transparent 1px);
    background-repeat: repeat;
    background-position: left -1px;
    background-size: round(($sgl-base-font-size * $sgl-base-line-height)) * 1px round(($sgl-base-font-size * $sgl-base-line-height)) * 1px;
  }
  body {
    max-width: 768px;
    margin: 0 auto;
    padding: round(($sgl-base-font-size * $sgl-base-line-height)) * 1px;
    box-shadow: 1px 0 0 hsla(200, 100%, 50%, 0.3), -1px 0 0 hsla(200, 100%, 50%, 0.3);
  }
}