@for $i from 1 through 4 {
  .padding-#{$i} {
    padding: sgl-rem-calc($i * round($font-size-base * $line-height-base));
  }
  .padding-right-#{$i} {
    padding-right: sgl-rem-calc($i * round($font-size-base * $line-height-base));
  }
  .padding-left-#{$i} {
    padding-left: sgl-rem-calc($i * round($font-size-base * $line-height-base));
  }
  .padding-top-#{$i} {
    padding-top: sgl-rem-calc($i * round($font-size-base * $line-height-base));
  }
  .padding-bottom-#{$i} {
    padding-bottom: sgl-rem-calc($i * round($font-size-base * $line-height-base));
  }
  .padding-x-#{$i} {
    padding: 0 sgl-rem-calc($i * round($font-size-base * $line-height-base));
  }
}