@for $i from 0 through 4 {
  .padding-#{$i} {
    padding: $i * line-height(0);
  }
  .padding-right-#{$i} {
    padding-right: $i * line-height(0);
  }
  .padding-left-#{$i} {
    padding-left: $i * line-height(0);
  }
  .padding-top-#{$i} {
    padding-top: $i * line-height(0);
  }
  .padding-bottom-#{$i} {
    padding-bottom: $i * line-height(0);
  }
  .padding-x-#{$i} {
    padding: 0 $i * line-height(0);
  }
}
