html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

@at-root {
  @-ms-viewport {
    width: device-width;
  }
}

html {
  font-size: $font-size-root;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: $font-family-base;
  font-size: #{$font-size-base} + "px";
  line-height: $line-height-base;
  color: $gray-light;
  background-color: none;
  margin: 0;
}

[tabindex="-1"]:focus {
  outline: none !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title], abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #aaa;
}

address {
  font-style: normal;
  line-height: inherit;
  margin-bottom: 1rem;
}

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol, ul ul, ol ul, ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 400;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0; // Undo browser default
}

blockquote {
  margin: 0 0 1rem;
}

a {
  text-decoration: none;
  color: blue;
}

a:not([href]):not([tabindex]) {
  text-decoration: none;
  color: inherit;

  &:focus {
    outline: none;
  }
}

pre {
  overflow: auto;
  margin-top: 0;
  margin-bottom: 1rem;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
}

[role="button"] {
  cursor: pointer;
}

a, area, button, [role="button"], input, label, select, summary, textarea {
  touch-action: manipulation;
}

//table {
//  border-collapse: collapse;
//  background-color: $table-bg;
//}
//
//caption {
//  padding-top: $table-cell-padding;
//  padding-bottom: $table-cell-padding;
//  caption-side: bottom;
//  text-align: left;
//  color: $text-muted;
//}

th {
  text-align: left;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input, button, select, textarea {
  line-height: inherit;
  margin: 0;
  border-radius: 0;
}

//input[type="radio"], input[type="checkbox"] {
//  &:disabled {
//    cursor: $cursor-disabled;
//  }
//}

input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

legend {
  font-size: 1.5rem;
  line-height: inherit;
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: none;
}

output {
  display: inline-block;
}

[hidden] {
  display: none !important;
}
