/*doc
---
title: Blockquote
name: blockquote
category: Elements
---

Blockquotes are useful when you want to emphasise a piece of quoted text.

```html_example
<blockquote>
  Cras mattis consectetur purus sit amet fermentum. Maecenas faucibus mollis interdum.
  <p class="blockquote-footer">Julius Ceasar</p>
</blockquote>
```

*/

blockquote, .blockquote {
  @include font-size(1);
  @extend .padding-left-1;
  @extend .double-line-height;
  @extend .italic;
  border-left: 1px solid $gray-light;
  .blockquote-footer {
    @include font-size(-1);
    @extend .regular;
    font-family: $font-family-secondary;
    font-weight: bold;
    &::before {
      content: "\2014 \00A0"; // em dash, nbsp
    }
  }
}