/*doc
---
title: Code
name: code
category: Elements
---

Antialiasing is a product of Satan and should be messed with carefully.

*/

/*doc
---
title: Code block
name: code-block
category: Elements
parent: code
---

Antialiasing is a product of Satan and should be messed with carefully.

```
<pre>
  <code>
    This is a code block...
  </code>
</pre>
```

*/

code, pre {
  font-size: font-size(-1);
  line-height: line-height(0);
  font-family: $font-family-monospace;
}

/*doc
---
title: Inline code
name: inline-code
category: Elements
parent: code
---

Antialiasing is a product of Satan and should be messed with carefully.

```html_example
  <p>This is an example of <code>~inline-code</code>.</p>
```

*/

pre {
  @if ($indent-paragraphs == true) {
    @extend .margin-left-1;
  }
  background: $gray-lighter;
  border-radius: 3px;
  @extend .padding-1;
  @include margins(0);
  overflow: hidden;
}
