code, pre {
  @include font-size(-0.5);
  font-family: $font-family-monospace;
}

pre {
  @if ($indent-paragraphs == true) {
    @extend .margin-left-1;
  }
  background: $gray-lighter;
  border-radius: 3px;
  @extend .padding-1;
  //border: 1px inset solid #e0e0e0;
}
