// Headings Options

$headings: (
  h1: (3),
  h2: (2),
  h3: (1),
  h4: (1),
  h5: (0),
  h6: (-1)
) !default;

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  text-rendering: optimizeLegibility;
  font-family: $font-family-secondary;
  weight: 400;
  color: $gray-dark;
}

@each $heading, $properties in $headings {
  #{$heading}, .#{$heading} {
    @include heading-size($properties);
  }
}
