p {
  @include body-size();
  @if ($indent-paragraphs == true) {
    margin-left: sgl-rem-calc(round($font-size-base * $line-height-base));
  }
  font-family: $font-family-serif;
  text-rendering: optimizeLegibility;
  display: block;

  &.lead {
    @include heading-size(1);
    font-weight: 500;
    font-style: italic;
  }
}