p {
  @include font-size(0);
  overflow: hidden;
  @if ($indent-paragraphs == true) {
    margin-left: sgl-rem-calc(round($font-size-base * $line-height-base));
  }
  font-family: $font-family-primary;
  &.lead {
    @include font-size(0.5);
    font-weight: 300;
  }
}
