
p, ul, ol, table {
  @include margins(0);
}

hr {
  @include margins(2);
  border: 0;
  border-top: 1px solid $gray-light;
}


//
// Emphasis
//

small, .small {
  font-weight: normal;

  @include heading-size(-1, "px");
}

.list-unstyled {
  //@include list-unstyled;
}

// Inline turns list items into inline-block
.list-inline {
  //@include list-unstyled;
}
.list-inline-item {
  display: inline-block;

  &:not(:last-child) {
    //margin-right: $list-inline-padding;
  }
}

// Builds on `abbr`
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

// Opposite alignment of blockquote
.blockquote-reverse {
  padding-left: 0;
  text-align: right;
  //border-right: $blockquote-border-width solid $blockquote-border-color;
  border-left: 0;
}

.blockquote-reverse .blockquote-footer {
  &::before {
    content: "";
  }
  &::after {
    content: "\00A0 \2014"; // nbsp, em dash
  }
}
