// Grid breakpoints
$xs: 0;
$sm: 544px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// Horizontal grid (bool)
$horizontal-grid: true !default;

// Indented paragraphs
$indent-paragraphs: false !default
$indent-amount: 1rem;

// Responsive sizing
$responsive: true !default;
$responsive-breakpoints: 0;

// Colors

$black: #333;
$gray-darker: lighten($black, 5%);
$gray-dark: lighten($black, 10%);
$gray-middle: rgb(128,128,128);
$gray-light: lighten($black, 25%);
$gray-lighter: lighten($black, 75%);

// Typography
// Font, line-height, and color for body text, headings, and more.

$font-family-primary: "Publico Text", "Times New Roman", Times, serif !default;
$font-family-secondary: "Circular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-primary !default;

// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root: 16 !default;
$font-size-base: 18 !default;
$line-height-base: 1.6 !default;

// Scale factor
$scale-factor: $AUGMENTED_FOURTH !default;
